* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #e5e5fd;
    border: 7px solid #1d1e4c;
    min-height: 100vh;
}

.top {
    display: flex;
    margin: 100px auto 0;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 80vw;
}

.image img {
    width: 20vw;
    border-radius: 50%;
}

.name h1 {
    color: #1d1e4c;
    font-size: 50px;
}

.name h4 {
    font-size: 35px;
    text-align: right;
}

.content {
    margin: 62px auto;
    width: 68vw;
}

.content h2 {
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 100;
}

.about {
    line-height: 38px;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: justify;
}

.bio {
    width: 68vw;
    margin: auto;
}

h3 {
    font-size: 23px;
    margin-bottom: 15px;
}

.bio ul {
    line-height: 32px;
    letter-spacing: 1.2px;
    font-size: 16px;
    margin-left: 60px;
}

footer {
    width: 68vw;
    text-align: end;
    margin: 25px auto;
}